#catagory header {
  line-height: .9rem;
}

#catagory header input {
  width: 70%;
  margin-left: 15%;
  height: .5rem;
  border-radius: 5px;
  border: none;
  background: #eee;
  font-size: .21rem;
}

#catagory .catagory-wrap .left-side {
  width: 30%;
  float: left;
}

#catagory .catagory-wrap .left-side ul {
  background: #f4f4f4;
  color: #999;
  text-align: center;
  line-height: 0.8rem;
  font-size: 0.22rem;
}

#catagory .catagory-wrap .left-side li {
  border-left: 2px solid #f4f4f4;
}

#catagory .catagory-wrap .left-side .catagory-active {
  background: #fff;
  color: #fc4141;
  border-left: 2px solid #fc4141;
}

#catagory .catagory-wrap .right-side {
  width: 70%;
  float: left;
}
