.goods-item {
  float: left;
  margin-top: .2rem;
  width: 50%;
  box-sizing: border-box;
  border-bottom: 2px solid #eee;
}

.goods-item dt {
  height: 3.2rem;
  overflow: hidden;
}

.goods-item p {
  font-size: .24rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.goods-item img {
  width: 100%;
}

.goods-item:nth-of-type(2n+1) {
  border-right: 2px solid #eee;
}

.goods-item .icon-xiazai1 {
  float: right;
  padding: 0 0.3rem;
  color: #f33737;
  font-size: .4rem;
}
